<li>
    <%if (locals.user!= undefined && (locals.user.id == comment.user._id ||  locals.user.id == post.user._id))  { %>
        <small>
            <a href="/comment/destroy/<%=comment.id %>">X</a>
        </small>
    <%}%>
    <p>
        <%= comment.content %>
    <br>
    <small>
        <%= comment.user.name%>
    </small>
    </p>
</li>