<li  id="comment-<%=comment._id %>">
    <%if (locals.user!= undefined && (locals.user.id == comment.user._id ||  locals.user.id == post.user._id))  { %>
        <small>
            <a id=" .delete-comment-button" href="/comment/destroy/<%=comment.id %>">X</a>
        </small>
    <%}%>
    <p>
        <%= comment.content %>
    <br>
    <small>
        <%= comment.user.name%>
    </small>
    </p>
</li>