<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/6d65aca24c.js" crossorigin="anonymous"></script>
    <title>Sign Up or Login</title>

    <!-- Font Icon -->
    

    <!-- Main css -->
    <link rel="stylesheet" href="<%=assetPath('css/style.css') %>">
    
</head>
<body>

    <div class="main">
<!-- Sign up form -->
<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" action="/user/create" class="register-form" id="register-form">
                    <div class="form-group">
                        <input type="text" name="name" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" id="email" placeholder="Your Email" required>
                    </div>
                    <div class="form-group">
                     
                        <input type="password" name="password" id="pass" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        
                        <input type="password" name="confirm_password" id="re_pass" placeholder="confirm password" required>
                    </div>
                    <div class="form-group form-button">
                        
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register" >
                    </div>
                </form>

                <div class="social-login">
                    <span class="social-label">Or signup with</span>
                    <ul class="socials">
                        <li><a href="/user/auth/google" target="_blank"><i class="display-flex-center  fab fa-google" style="background-color:skyblue;"></i></a></li>
                    </ul>
                </div>

            </div>
            <div class="signup-image">
                <figure><img src="/images/signup-image.webp" alt="sing up image"></figure>
                <a href="/user/login" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
</section>
</div>
</body>
</html>