<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeial</title>
</head>
<body>
    <div style="background-color: rgb(247, 140, 126); border-radius:5px;">
        <p><h2 style="margin-left: 20px;">hi <%=post.user.name %>!<h2></p>
        <br>
        <p>
            <h1 style="text-align: center;">your Post</h1>
            <p><h2 style="text-align: center;"><%= post.content %></h2></p>
            <h1  style="text-align: center;">just got published</h1>
        <br>
            <p><h2> have a look <h2></p>
            <a href="http://localhost:8000">CODEIAL</a>
    </div>
</body>
</html>