body {
  margin: auto;
  background-image: radial-gradient(#c9edf8, #ffffff);
  color: black; }

#nav-bar {
  height: 4rem;
  color: whitesmoke;
  background-image: linear-gradient(rgba(152, 6, 182, 0.856), #4d90f3);
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding: 2px;
  margin-bottom: 25px; }
  #nav-bar h1 {
    margin-left: 20px; }
  #nav-bar ul {
    align-items: right; }
    #nav-bar ul li {
      display: inline-block; }
      #nav-bar ul li a {
        text-decoration: none;
        font-size: 20px;
        padding-left: 10px; }

#home-container {
  display: flex; }
  #home-container h2 {
    text-align: center; }
  #home-container #user-blogs {
    width: 20%;
    border-right: 1px solid lightgrey; }
    #home-container #user-blogs #blog-podcast {
      text-align: center;
      margin-top: 10px;
      height: 5rem;
      width: 90%;
      margin: auto;
      background-color: #f0eaea;
      border: 1px solid white;
      border-radius: 10px; }
  #home-container #feed-posts {
    width: 60%;
    padding: 10px;
    border-right: 1px solid lightgrey;
    height: 100%; }
    #home-container #feed-posts h4 {
      padding-left: 20px; }
    #home-container #feed-posts form {
      padding-left: 20px; }
  #home-container #user-friends {
    width: 10%;
    padding-left: 20px; }

footer {
  height: 4rem;
  background-color: #d1cdcd;
  text-align: center;
  padding-top: 20px; }
