body{
    margin: auto;
    background-color: #fffbfb;
    color: black;

    input[type=text]:hover{
        border:2px solid black;
    }

    textarea{
        border:2px solid black;
        border-radius:10px ;
        resize:none;
        margin-bottom:20px;
        padding:10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        &:hover {
            border:2px solid rgb(248, 139, 100);
        }
    }
}
#nav-bar{
    height:4rem;
    background-image: linear-gradient(black,rgb(54, 54, 54));
    display: flex;
    justify-content: space-between;
    border-radius:15px;
    border-top-right-radius:0px;
    border-top-left-radius:0px ;
    padding:2px;
    margin-bottom:25px;
    h1{
        color: whitesmoke;
        margin-left:20px;
    }
    ul{
        align-items: right;
        li{ 
            display: inline-block;
            a{
                text-decoration: none;
                color:white;
                font-size:20px;
                padding-left:10px;
                p{
                    text-decoration:none;
                    color: white;
                }
            }
        }
    }
}

#home-container{
    display: flex;
    h2{
        text-align:center;
    }
    #blog_section{
        position: sticky;
        top: 2%;
    }
    #user-blogs{
        width:20%;
        border-right:1px solid rgb(0, 0, 0);

        #blog-podcast{
            text-align: center;
            margin-top:10px;
            height:5rem;
            width:90%;
            margin:auto;
            background-color: rgb(240, 234, 234);
            border:1px solid white;
            border-radius:10px;
        }
    }
    #feed-posts{
        width: 60%;
        padding: 10px;
        border-right:1px solid rgb(2, 2, 2);
        height: 100%;
        h4{
            padding-left:20px;
        }
        form{
            padding-left: 20px;
        }
        #user_post{
            height:5rem;
            width:95%;
            padding-left: 10px;
            display: flex;
            background-color: white;
            border:2px solid white;
            border-radius: 10px;
         
            &:hover{
                padding-left:10px;
                border: 2px solid orange;
            }
        }
    }
    
    #user-friends{
        width: 10%;
        padding-left: 20px;
    }

    
}

footer{
    height:4rem;
    background-color:rgb(209, 205, 205);
    text-align: center;
    padding-top:20px;
}

