body{
    margin: auto;
    background-image: radial-gradient(rgb(201, 237, 248),#ffffff);
    color: black;
}
#nav-bar{
    height:4rem;
    color: whitesmoke;
    background-image: linear-gradient(rgba(152, 6, 182, 0.856),rgb(77, 144, 243));
    display: flex;
    justify-content: space-between;
    border-radius:15px;
    border-top-right-radius:0px;
    border-top-left-radius:0px ;
    padding:2px;
    margin-bottom:25px;
    h1{
        margin-left:20px;
    }
    ul{
        align-items: right;
        li{ 
            display: inline-block;
            a{
                text-decoration: none;
                font-size:20px;
                padding-left:10px;
            }
        }
    }
}

#home-container{
    display: flex;
    h2{
        text-align:center;
    }
    #user-blogs{
        width:20%;
        border-right:1px solid lightgrey;

        #blog-podcast{
            text-align: center;
            margin-top:10px;
            height:5rem;
            width:90%;
            margin:auto;
            background-color: rgb(240, 234, 234);
            border:1px solid white;
            border-radius:10px;
        }
    }
    #feed-posts{
        width: 60%;
        padding: 10px;
        border-right:1px solid lightgrey;
        height: 100%;
        h4{
            padding-left:20px;
        }
        form{
            padding-left: 20px;
        }
    }
    
    #user-friends{
        width: 10%;
        padding-left: 20px;
    }

    
}

footer{
    height:4rem;
    background-color:rgb(209, 205, 205);
    text-align: center;
    padding-top:20px;
}

